body {
	font-family: 'Open Sans', sans-serif;
}

.carousel {
    background-color: gainsboro;
}

.carousel-control {
    background-image: none !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.appointment {
    display: inline-block;
}

footer {
    background-color: lightgray;
}

footer img {
    margin: 0 auto;
    display: block;
}

hr {
    height: 5px;
    background-color: gray;
}