.carousel-control {
    background-image: none !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#offer-panels {
    margin: 0 auto;
    width: 100%;
}

#offer-panels > div {
    display: inline-block;
}